<ion-header>
  <ion-navbar >
    <ion-title>
      Mon compte
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="user != null" text-center	 >

        <img src="{{origin_src}}{{user.local.avatar}}" text-center>
        <br /><br />
        <div text-left><label>Email: </label>{{user.local.email}}</div>
        <div text-left><label>Pseudo: </label>{{user.local.name}}</div>
        <div text-left><label>Sexe: </label>{{user.local.sexe}}</div>
        <br /> <br />
        <button ion-button (click)="changePassword()" color="dark" full>Modifier le mot de passe</button>
        <button ion-button color="white"  style="border: 1px solid black" full>Déconnexion</button>



</div>
<div *ngIf="user == null" text-center	 >
<ion-spinner></ion-spinner>
</div>
</ion-content>
