<ion-header>
  <ion-navbar>
    <ion-title>
      Changer votre mot de passe
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header" padding align="center">
  <form (ngSubmit)="valid()" [formGroup]="userForm" style="padding-top: 50px">
  <ion-list no-lines>

    <ion-item>
      <ion-label color="dark" stacked>  Ancien mot de passe </ion-label>
      <ion-input formControlName="lastPassword" type="text" placeholder=""></ion-input>
      <div *ngIf="userForm.get('lastPassword').hasError('required')">La valeur ne peut être nul .</div>
    </ion-item>

    <ion-item>
      <ion-label color="dark" stacked>Mot de passe</ion-label>
      <ion-input formControlName="newPassword" type="password" placeholder="" ></ion-input>
      <div *ngIf="userForm.get('newPassword').hasError('required')">La valeur ne peut être nul .</div>
    </ion-item>


  <div padding>
    <button ion-button color="dark" type="submit" [disabled]="!userForm.valid">Connexion</button>
  </div>
  </ion-list>
</form>
</ion-content>
